{% extends 'base.html' %}

{% block content1-2 %}
<div class="panel">
    <div class="panel-title">
        <p>demo.md</p>
    </div>
    <div class="panel-body">
        {{ demo | safe }}
    </div>
</div>
{% endblock %}

{% block content1-10 %}
<div class="panel">
    <div class="panel-title">
        <p>readme.md</p>
    </div>
    <div class="panel-body">
    {{ readme | safe }}
    </div>
</div>
{% endblock %}

{% block content1-22 %}

{% endblock %}

{% block content2-2 %}

{% endblock %}

{% block content2-10 %}
{% endblock %}


